{% extends 'Base/basic.html' %}
{% comment %} {% for product in products %}
<hr>
<h1>Task :{{product.title}}</h1> 
<h1>Description :{{product.description}}</h1> 
<img src="{{product.image.url}}" alt="Sorry there's a problem with your network">
<h1>price :{{product.price}}</h1>
<h1>category: {{product.category}}</h1>
<h1>User: {{product.user}}</h1>
<h1>Created :{{product.created}}</h1>
<td><a href="{%url 'product_update' product.id%}">Edit</a></td>
 <td><a href="{%url 'product_delete' product.id%}">Delete</a></td>
 <hr> {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block scripts %}
<table>
 <div style="min-height: 50px;"></div></table>

<link href={%static 'products_listing/images/favicon.ico' %} rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src={%static 'products_listing/js/jquery-2.0.0.min.js' %} type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src={%static 'products_listing/js/bootstrap.bundle.min.js'%} type="text/javascript"></script>
<link href={%static 'products_listing/css/bootstrap.css'%} rel="stylesheet" type="text/css"/>
 <link href="{%static 'Product_detail/css/mdb.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Font awesome 5 -->
{% comment %} <link href={%static 'products_listing/css/all.min.css'%} type="text/css" rel="stylesheet"> {% endcomment %}

<!-- plugin: fancybox  -->
<script src={%static 'products_listing/plugins/fancybox/fancybox.min.js'%}type="text/javascript"></script>
<link href={%static 'products_listing/plugins/fancybox/fancybox.min.css'%} type="text/css" rel="stylesheet">

<!-- custom style -->
<link href={%static 'products_listing/css/ui.css'%} rel="stylesheet" type="text/css"/>
<link href={%static 'products_listing/css/responsive.css'%} rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src={%static 'products_listing/js/script.js'%} type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>
{% endblock scripts %}

<!-- ========================= SECTION PAGETOP ========================= -->
{% block content %}
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page">User Items</h2>
   <a href="{%url 'products' %}">Go back</a>
  </div> <!-- container //  -->
  </section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">
{% for product in products  %}
            <article class="card card-product-list">
                  <div class="row no-gutters">
                        <aside class="col-md-3">
                              <a href="#" class="img-wrap" style="padding : 15px;">
                                    <!-- <span class="badge badge-danger"> NEW </span> -->
                                    <img src={{product.image.url}} alt="Sorry there's a problem with your network">
                              </a>
                        </aside> <!-- col.// -->
                        <div class="col-md-6">
                              <div class="info-main">
                                    <a href="#" class="h5 title"> {{product.title}} </a>
                                    {% comment %} <div class="rating-wrap mb-3">
                                          <ul class="rating-stars">
                                                <li style="width:80%" class="stars-active"> 
                                                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                                      <i class="fa fa-star"></i> 
                                                </li>
                                                <li>
                                                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                                      <i class="fa fa-star"></i> 
                                                </li>
                                          </ul>
                                          <!-- <div class="label-rating">7/10</div> -->
                                    </div> <!-- rating-wrap.// --> {% endcomment %}
                                    
                                    <p class="font-weight-bold">Description:{{product.description}} </p>
                                    <p  class="font-weight-bold">Category: {{product.category}}</p>
                                    <p  class="font-weight-bold">Created :{{product.created}}</p>
                              </div> <!-- info-main.// -->
                        </div> <!-- col.// -->
                        <aside class="col-sm-3">
                              <div class="info-aside">
                                    <div class="price-wrap">
                                          <span class="price h5">INR {{product.price}} </span>	
                                          <!-- <del class="price-old"> $198</del> -->
                                    </div> <!-- info-price-detail // -->
                                    <!-- <p class="text-success">Free shipping</p> -->
                                    <br>
                                    <p>
                                          <a href={%url 'product' product.id %} class="btn btn-primary btn-block"> Details </a>
                                          <a href="{%url 'product_update' product.id %}" class="btn btn-primary btn-block"> Edit </a>
                                          <a href="{%url 'product_delete' product.id%}" class="btn btn-primary btn-block"> Delete </a>
                                          <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i> 
                                                <span class="text">Add to wishlist</span>
                                          </a>
                                    </p>
                              </div> <!-- info-aside.// -->
                        </aside> <!-- col.// -->
                  </div> <!-- row.// -->
            </article> <!-- card-product .// -->

{%empty%}
<h3> No Items are present</h3>
<table>
 <div style="min-height: 160px;"></div></table>
{% endfor %}

{% comment %} <nav aria-label="Page navigation sample">
  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> {% endcomment %}

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
{% endblock content %}

<!-- ========================= SECTION CONTENT END// =========================-->
